* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Navigation Header */
.header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.go-to-login-page {
  text-align: center;
}

/* search start */
.search input {
  width: 360px;
  height: 42px;
  left: 540px;
  top: 16px;
  background: #f2f2f2;
  border-radius: 21px;
  outline: none;
  padding-left: 40px;
  border: none;
}

.search i {
  position: absolute;
  padding: 15px;
  color: #7a7a7a;
}
/* search end */

/* accout start */
.danger {
  color: #000;
}
/* accoutn end */

/* bg-img start */
.container-section {
  height: 60vh;
  width: 100%;
  background: url('./img/Rectangle\ 2.png') no-repeat center center/cover;
}

.container-img {
  height: 60vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.container-section h1 {
  position: absolute;
  left: 230px;
  top: 358px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
}
.container-section p {
  position: absolute;
  left: 230px;
  top: 409px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
/* bg-img end */

/* All Post section start */

nav {
  border-bottom: 1px solid #e0e0e0;
}

.nav-itemBorder {
  margin-right: 10px;
  background: #edeef0;
  border-radius: 4px;
  width: 8rem;
}

.post-mark {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.nav-itemBorder a {
  font-size: 15px;
}
.post-item {
  font-size: 15px;
}
.group {
  background: #2f6ce5;
  display: flex;
}

.nav-itemBorder .g-white {
  color: #ffffff;
}
.nav-itemBorder img {
  padding-left: 10px;
}
/* All Post section end */

/* Card start */
.container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-content {
  width: 80%;
}
.text-menu {
  display: flex;
  flex-direction: row;
}

/* card-3 */
.text-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.three-color {
  color: #e56135;
  border: 1px solid #a9aeb8;
}
.four-color {
  color: #02b875;
  border: 1px solid #a9aeb8;
}
.calender-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding-top: 10px;
}

.menu-focas:hover {
  padding: 10px;
  background: #bfc0c0;
  border-radius: 4px;
}
/* Card end */

/* location container start */

.input-location input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 30px;
  border-bottom: 1px solid black;
}

.input-location i {
  position: absolute;
  padding: 10px 10px 10px 0px;
}

.location-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 220px;
  height: 32px;
  top: 717px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
}
.location-content img {
  padding-right: 10px;
}
.img-content span {
  font-weight: bold;
  padding-left: 10px;
}

.card-footers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-footers .like-share i {
  padding: 10px;
  background: #edeef0;
  border-radius: 2px;
}
/* location container end */

.question {
  font-size: 15px;
}

form span {
  color: #2f6ce5;
  cursor: pointer;
}

/**
* ! style rules for form icons
**/

form div i {
  position: absolute;
  padding: 10px;
}

.eye-icon {
  right: 0;
}

/**
* ! style rules for button 
**/

form button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #2f6ce5;
  border: 2px solid #2f6ce5;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

button:hover {
  opacity: 0.8;
}
.write-note {
  display: none;
}

/* ######################################################## */
/* Media Query */
@media (max-width: 550px) {
  /* bg-img start */
  .container-section {
    height: 60vh;
    width: 100%;
    background: url('./img/Rectangle\ 2.png') no-repeat center center/cover;
  }

  .container-img {
    height: 60vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .container-img {
    height: 60vh;
    width: 100%;
    z-index: 1;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container-section h1 {
    position: relative;
    top: 10%;
    left: 0;
    color: #ffffff;
    z-index: 1;
  }
  .container-section p {
    position: relative;
    top: 10%;
    left: 0;
    color: #ffffff;
    z-index: 1;
  }
  /* bg-img end */

  /* Write Note Start */
  .write-note {
    display: block;
    position: fixed;
    z-index: 1;
    right: 18px;
    bottom: 18px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(180deg, #ff5c5c 0%, #f0568a 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  .write-note i {
    font-size: 2rem;
  }
  /* Write Note End */

  /* Navigation bar  start*/
  .search {
    display: none;
  }
  /* Navigation bar end */

  /* Card start */
  .card-content {
    width: 100%;
  }
  .text-menu {
    display: flex;
    flex-direction: row;
  }
  /* Card end */

  /* location container strat*/
  .location-container {
    display: none;
  }
  /* location container end*/
}

